<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<display-name>log-report-ui</display-name>
	<welcome-file-list>
		<welcome-file>code.html</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>codeJSP</servlet-name>
		<jsp-file>/code.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>codeJSP</servlet-name>
		<url-pattern>/code.html</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>sqlJSP</servlet-name>
		<jsp-file>/sql.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>sqlJSP</servlet-name>
		<url-pattern>/sql.html</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>CodeLogDetailServlet</servlet-name>
		<servlet-class>org.yfr.servlet.CodeLogDetailServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CodeLogDetailServlet</servlet-name>
		<url-pattern>/CodeLogDetailServlet</url-pattern>
	</servlet-mapping>
</web-app>